<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include('headerFiles') %>

    <!-- jQuery JS -->
    <script src="../js/vendor/jquery-1.12.0.min.js"></script>
    <!-- jQuery Validate JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
            integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            getcartproduct();
        });
    </script>

</head>
<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper home-2">

    <%- include('header') %>

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb pt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">About</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- about -->
    <div class="welcome">
        <div class="container py-xl-4 ">

            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>A</span>bout
                <span>U</span>s</h3>
            <!-- //tittle heading -->

            <div class="row">


                <div class="col-lg-12 welcome-left">
                    <h3>Welcome</h3>
                    <hr>
                    <h2>What is Lorem Ipsum?</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                    <br>
                </div>


                <div class="col-lg-12 welcome-left mt-sm-4 mt-4">
                    <h2>Why do we use it?</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                    <br>
                    <h2>Where does it come from?</h2>
                    <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                        words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                        classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                        and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
                        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
                        section 1.10.32.</p>
                    <br>
                    <h2> Where can I get some?</h2>
                    <br>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                        Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                        the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                        sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
                        is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!-- //about -->

        <!-- lg-banner-bg start -->
        <div class="lg-banner-area lg-banner-bg-2 section-ptb mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 offset-lg-5">
                        <div class="lg-banner-info text-center mt--30 mb--30">
                            <h2>Contrary to popular belief is not simply rand.</h2>
                            <a href="#" class="btn more-product-btn">MORE PRODUCTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //lg-banner-bg end -->

        <!-- our-brand-area start -->
        <div class="our-brand-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="our-brand-active">
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/1.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/2.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/3.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/4.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/5.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/3.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="../images/brand/4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //our-brand-area end -->

        <%- include('footer') %>

    </div>
    <!-- Main Wrapper End -->

</body>
</html>
