<!-- footer-area start -->
<footer class="footer-area">
    <div class="footer-top pt--40 pb--100">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-12">
                    <div class="footer-info mt--60">
                        <div class="footer-title">
                            <h3>e-Shop</h3>
                        </div>
                        <ul class="footer-info-list">
                            <li>
                                <i class="ion-ios-location-outline"></i> Montreal QC, Canada
                            </li>
                            <li>
                                <i class="ion-ios-email-outline"></i> Mail Us : <a href="#">e.shop@gmail.com</a>
                            </li>
                            <li>
                                <i class="ion-ios-telephone-outline"></i> Phone: +1 (514)561-8794
                            </li>
                        </ul>
                        <div class="payment-cart">
                            <img src="../images/icon/1.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4">
                    <div class="footer-info mt--60">
                        <div class="footer-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="footer-list">
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Kids</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-4">
                    <div class="footer-info mt--60">
                        <div class="footer-title">
                            <h3>Information</h3>
                        </div>
                        <ul class="footer-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="../about">About Us</a></li>
                            <li><a href="../contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-1 col-md-4">
                    <div class="footer-info mt--60">
                        <div class="footer-title">
                            <h3>Quick Links</h3>
                        </div>
                        <ul class="footer-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/users/userlogin">My Account</a></li>
                            <li><a href="../contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  col-md-6"><div class="copyright">
                        <p>Copyright ©All Right Reserved.</p>
                    </div></div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-social">
                        <ul>
                            <li><a href="https://twitter.com/smarthomeguidez" target="_blank"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="https://smarthomeimprovement.tumblr.com/" target="_blank"><i class="ion-social-tumblr"></i></a></li>
                            <li><a href="https://www.facebook.com/smarthomeimprovementguide" target="_blank"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/smarthomeguides" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area end -->

<!-- Modal-wrapper start -->
<div class="modal-wrapper">
    <div class="modal fade " id="exampleModalCenter" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- modal-inner-area start -->
                    <div class="modal-inner-area row">
                        <div class="col-xl-6 col-lg-7 col-md-6">
                            <div class="product-details-images">
                                <div class="product_details_container">
                                    <!-- product_big_images start -->
                                    <div class="product_big_images-top">
                                        <div class="portfolio-full-image tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="img-tab-5">
                                                <img src="../images/product-details/big-img/w1.jpg" alt="full-image">
                                            </div>
                                            <div role="tabpanel" class="tab-pane product-video-position" id="img-tab-6">
                                                <img src="../images/product-details/big-img/w2.jpg" alt="full-image">
                                            </div>
                                            <div role="tabpanel" class="tab-pane product-video-position" id="img-tab-7">
                                                <img src="../images/product-details/big-img/w3.jpg" alt="full-image">
                                            </div>
                                            <div role="tabpanel" class="tab-pane product-video-position" id="img-tab-8">
                                                <img src="../images/product-details/big-img/w4.jpg" alt="full-image">
                                            </div>
                                            <div role="tabpanel" class="tab-pane product-video-position" id="img-tab-9">
                                                <img src="../images/product-details/big-img/w3.jpg" alt="full-image">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product_big_images end -->

                                    <!-- Start Small images -->
                                    <ul class="product_small_images-bottom horizantal-product-active nav" role="tablist">
                                        <li role="presentation" class="pot-small-img active">
                                            <a href="#img-tab-5" role="tab" data-toggle="tab">
                                                <img src="../images/product-details/small-img/1.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img">
                                            <a href="#img-tab-6" role="tab" data-toggle="tab">
                                                <img src="../images/product-details/small-img/2.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img">
                                            <a href="#img-tab-7" role="tab" data-toggle="tab">
                                                <img src="../images/product-details/small-img/3.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img">
                                            <a href="#img-tab-8" role="tab" data-toggle="tab">
                                                <img src="../images/product-details/small-img/4.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img">
                                            <a href="#img-tab-9" role="tab" data-toggle="tab">
                                                <img src="../images/product-details/small-img/3.jpg" alt="small-image">
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- End Small images -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-6">
                            <!-- product_details_info start -->
                            <div class="product_details_info">
                                <h2>Black Clock</h2>
                                <!-- pro_rating start -->
                                <div class="pro_rating d-flex">
                                    <ul class="product-rating d-flex">
                                        <li><span class="icon-star"></span></li>
                                        <li><span class="icon-star"></span></li>
                                        <li><span class="icon-star"></span></li>
                                        <li><span class="icon-star"></span></li>
                                        <li><span class="icon-star"></span></li>
                                    </ul>
                                    <span class="rat_qun"> (Based on 0 Ratings) </span>
                                </div>
                                <!-- pro_rating end -->
                                <!-- pro_details start -->
                                <div class="pro_details">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod temf incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostr exercitation ullamco laboris nisi ut aliquip ex ea. </p>
                                </div>
                                <!-- pro_details end -->
                                <!-- pro_dtl_prize start -->
                                <ul class="pro_dtl_prize">
                                    <li class="old_prize">$15.21</li>
                                    <li> $10.00</li>
                                </ul>
                                <!-- pro_dtl_prize end -->
                                <!-- pro_dtl_color start-->
                                <div class="pro_dtl_color">
                                    <h2 class="title_2">Choose Colour</h2>
                                    <ul class="pro_choose_color">
                                        <li class="red"><a href="#"><i class="ion-record"></i></a></li>
                                        <li class="blue"><a href="#"><i class="ion-record"></i></a></li>
                                        <li class="perpal"><a href="#"><i class="ion-record"></i></a></li>
                                        <li class="yellow"><a href="#"><i class="ion-record"></i></a></li>
                                    </ul>
                                </div>
                                <!-- pro_dtl_color end-->
                                <!-- pro_dtl_size start -->
                                <div class="pro_dtl_size">
                                    <h2 class="title_2">Size</h2>
                                    <ul class="pro_choose_size">
                                        <li><a href="#">S</a></li>
                                        <li><a href="#">M</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <!-- pro_dtl_size end -->
                                <!-- product-quantity-action start -->
                                <div class="product-quantity-action">
                                    <div class="prodict-statas"><span>Quantity :</span></div>
                                    <div class="product-quantity">
                                        <form action="#">
                                            <div class="product-quantity">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="01" name="qtybutton" class="cart-plus-minus-box">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- product-quantity-action end -->
                                <!-- pro_dtl_btn start -->
                                <ul class="pro_dtl_btn">
                                    <li><a href="#"  class="buy_now_btn">buy now</a></li>
                                    <li><a href="#"><i class="ion-heart"></i></a></li>
                                </ul>
                                <!-- pro_dtl_btn end -->
                                <!-- pro_social_share start -->
                                <div class="pro_social_share d-flex">
                                    <h2 class="title_2">Share :</h2>
                                    <ul class="pro_social_link">
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    </ul>
                                </div>
                                <!-- pro_social_share end -->
                            </div>
                            <!-- product_details_info end -->
                        </div>
                    </div>
                    <!-- modal-inner-area end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal-wrapper end -->


<script>

    function getcartproduct() {

        let httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                var data = JSON.parse(this.response);
                console.log(data);

                document.getElementById("cartcount").innerHTML = data.length;
            } else {
                // document.getElementById("cartcount").innerHTML = "<span class='spinner-border' ></span>";
            }
        }
        httpRequest.open("GET", "./getCartProductsFromServer", true);
        httpRequest.send();
    }

    function getAllProducts() {
        let httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.response);
                // console.log(data);

                let html = "<div class='row'>";

                for (i = 0; i < data.length; i++) {

                    html += "<div class='col-lg-3 col-md-4 col-sm-6 mb-5'>";
                    html += "<div class='single-product-wrap'>";
                    html += "<div class='product-image'>";
                    html += "<a href='#'><img src='" + data[i].photo + "' alt=''></a>";

                    html += "<div class='product-content'>";
                    // <!-- <h3><a href="product-details.html">Products Name 001</a></h3>-->
                    html += "<h3 class='text-capitalize font-weight-bold'>" + data[i].productname + "</h3>";
                    html += "<p class='text-capitalize' style='color: #a7a9ac'>" + data[i].pdescription + "</p>";

                    if (data[i].discount > 0) {
                        // Calculation of Discounted Price
                        var newprice = Math.round(data[i].price - (data[i].price * (data[i].discount / 100)));

                        html += "<div class='price-box'>";
                        html += "<span class='old-price text-danger'>$ " + data[i].price + "</span>";
                        html += "&nbsp;&nbsp;";
                        html += " <span class='text-success'>" + data[i].discount + "% OFF</span>";
                        html += "<div class='text-center'>";
                        html += " <span class='new-price'>$ " + newprice + "</span>";
                        html += "</div>";
                        html += "</div>";
                    } else {
                        html += "<div class='price-box'>";
                        html += "<div class='text-center'>";
                        html += " <span class='new-price'>&#x20B9; " + data[i].price + "</span>";
                        html += "</div>";
                        html += "</div>";
                    }
                    // Add To Cart
                    html += "<div>";
                    html += "<button onclick='addtocart(" + JSON.stringify(data[i]) + ")' type='button' class='btn btn-info btn-lg text-capitalize'>Add To Cart</button>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                }
                html += "</div>";

                document.getElementById("allproducts").innerHTML = html;
            } else {
                // document.getElementById("allproducts").innerHTML = "<span class='spinner-border' ></span>";
            }
        }
        httpRequest.open("GET", "./getAllProductsInIndexPage", true);
        httpRequest.send();
    }

    // *Button-> Add to CART
    function addtocart(obj) {
        // console.log(obj);
        let formdata = new FormData();
        formdata.append('product_obj', JSON.stringify(obj));
        formdata.append('action', 'add');

        let httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                console.log(this.response);

                if (this.response == "duplicate") {
                    window.location.assign('/users/usercart');
                } else {
                    alert("Product Added To Cart");
                    document.getElementById("cartcount").innerText = this.response;
                }
            }
        }
        httpRequest.open("POST", "./addToCartSelectedProduct", true);
        httpRequest.send(formdata);
    }
</script>


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="../js/vendor/jquery-1.12.0.min.js"></script>
<!-- jQuery Validate JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
        integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
        crossorigin="anonymous"></script>

<!-- Popper JS -->
<script src="../js/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="../js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
        integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
        crossorigin="anonymous"></script>

<!-- Plugins JS -->
<script src="../js/plugins.js"></script>

<!-- Ajax Mail -->
<script src="../js/ajax-mail.js"></script>

<!-- Main JS -->
<script src="../js/main.js"></script>
